/*
@Author: ThemeMascot
@URL: http://ThemeMascot.com

This is the file where you can add your custom styles to change the look of the
theme. But don't modify style-main.css file.

*/

/* Your custom css codes start here: */

.bandeau-liens a:link, .bandeau-liens a:visited, #footer .subfooter a:link, #footer .subfooter a:visited {
	color: #fff;	
}

.bandeau-liens a:hover, #footer .subfooter a:hover {
	text-decoration: underline;
}

table.historique tr td {
	padding: 15px;
}

table#liensutiles tr td {
	padding: 15px;
}

table.historique, table#liensutiles {
	width: 100%;
}



.faq .panel-group .panel-title a.active {
	color: #333;
}

table#dates-cle tr {
	margin-top: 15px;
	margin-bottom: 15px;
}

table#dates-cle tr td {
	padding: 15px;
}

table#pionniers tr td {
	padding: 15px;
}

.main-content.allpages a:link, .main-content.allpages a:visited {
	color: #c30e2d;
}

.main-content.allpages a:hover {
	color: #ccc;
}

.main-content ul {
  list-style: outside none none;
  margin-top: 13px;
  padding-left: 0;
}
.main-content ul li {
  margin: 5px 0;
  font-weight: 500;
  padding-left: 15px;
  position: relative;
}
.main-content ul li:before {
  border: none;
  color: #c30e2d;
  content: "\f111";
  display: inline-block;
  font-family: fontawesome;
  font-size: 9px;
  margin-right: 10px;
  padding: 0;
  left: 0;
  position: absolute;
  top: 5px;
}
.main-content ul li:hover:before {
  background: none;
  border-color: transparent;
}
.main-content ul li a {
  text-decoration: none;
  -webkit-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}


/* Listes des actus */
.main-content #blog ul {
  list-style: outside none none;
  margin-top: 0;
  padding-left: 0;
}
.main-content #blog ul li {
  margin: 0;
  font-weight: 500;
  padding-left: 0;
  position: relative;
}
.main-content #blog ul li:before {
 
  content: none;

}
.main-content #blog ul li:hover:before {
  background: none;
  border-color: transparent;
}
.main-content #blog ul li a {
  text-decoration: none;
  -webkit-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}