@import url(http://fonts.googleapis.com/css?family=Exo:400,300);

body{
margin: 0 20px 20px 20px;
padding: 0px;
color: #333333;}

img{
margin: 0px;
padding: 5px;
border: 0px;
border-radius:4px}

.petitgris {FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY:  'Exo', Verdana, Arial, Helvetica, sans-serif}
.normalgris {FONT-SIZE: 13px; COLOR: #666666; FONT-FAMILY:  'Exo', Verdana, Arial, Helvetica, sans-serif; /*LETTER-SPACING: 1px;*/ list-style-type : none;}
.grandgris {FONT-SIZE: 18px; COLOR: #666666; FONT-FAMILY:  'Exo', Verdana, Arial, Helvetica, sans-serif}

.normalgrisclair {FONT-SIZE: 13px; COLOR: #DDD; FONT-FAMILY:  'Exo', Verdana, Arial, Helvetica, sans-serif; /*LETTER-SPACING: 1px;*/ list-style-type : none;}

.petitrouge {FONT-SIZE: 10px; COLOR: #cc0000; FONT-FAMILY:  'Exo', Verdana, Arial, Helvetica, sans-serif}
.normalrouge {FONT-SIZE: 13px; COLOR: #cc0000; FONT-FAMILY:  'Exo', Verdana, Arial, Helvetica, sans-serif}
.moyenrouge {FONT-SIZE: 16px; COLOR: #c30004; FONT-FAMILY:  'Exo', Verdana, Arial, Helvetica, sans-serif}
.grandrouge {FONT-SIZE: 24px; COLOR: #c30004; FONT-FAMILY:  'Exo', Verdana, Arial, Helvetica, sans-serif}

.petitvert {FONT-SIZE: 10px; COLOR: #3e8716; FONT-FAMILY:  'Exo', Verdana, Arial, Helvetica, sans-serif}
.normalvert {FONT-SIZE: 13px; COLOR: #3e8716; FONT-FAMILY:  'Exo', Verdana, Arial, Helvetica, sans-serif}
.grandvert {FONT-SIZE: 16px; COLOR: #3e8716; FONT-FAMILY:  'Exo', Verdana, Arial, Helvetica, sans-serif}

.moyennoir {font-size: 16px; color: #000; font-family:  'Exo', Verdana, Arial, Helvetica, sans-serif;}
.grandnoir {font-size: 24px; color: #000; font-family:  'Exo', Verdana, Arial, Helvetica, sans-serif;}

/*LIENS*/
a {	color: #006699; }
a:link { text-decoration: none; }
a:visited { text-decoration: none; color: #006699; }
a:hover { text-decoration: none; color: #21aad7; }

.link a{color:#ac69c5; background-color:#FFF; border-radius:4px; border:1px #e3d8e7 dotted; padding:5px; }
.link a:hover {color:#c861ef; border:1px #999 solid; }

/*MENU*/
#menuadmin {height:auto; padding:5px 0 30px 20px; margin:0px; border-radius:0 0 6px 6px; background-color:#EEE; border:1px #999 solid; border-top:0px;  }
#menuadmin ul li {float:left; width:220px; list-style:none }

/*CONTENU*/
#titreadmin {padding:12px; margin-top:30px; border:1px #CCC dashed; background-color:#f9f9f9 }
#contenu {padding:12px; margin:20px 0 0 0 ; border:1px #CCC dashed; background-color:#f9f9f9 }
#msg {padding:12px; margin:20px 0 0 0 ; border:1px #4497b9 dashed; background-color:#c3dbe5 }
#msgerror {padding:12px; margin:20px 0 0 0 ; border:1px #d46060 dashed; background-color:#ecd1d1 }
.libchamps {width:150px; float:left; padding-top:5px}

/*COMMANDE / PANIER*/
.Tableau span {
   display:inline;
   float:left;
   margin:px;
   padding:5px;
  }
.Tableau p {
   clear:left;
   margin:0px;
   padding:2px;
   height:100% !important; height:1em;
  }
.Tableau span.col1 {width:15%}		/*Photo/ref*/
.Tableau span.col2 {width:40%}		/*titre*/
.Tableau span.col3 {width:10%}		/*Qté*/
.Tableau span.col4 {width:10%}		/*prix unit*/
.Tableau span.col5 {width:15%} 		/*total*/

.legende {color:#000; font-size:14px; border-bottom:3px #999 solid; height:30px;}

/*LIVRAISON*/
.pagelinkencours  {
	FONT-SIZE: 13px; COLOR: #FFFFFF; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 1px; 
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid;
	BACKGROUND-COLOR: #b92315; TEXT-DECORATION: none; FLOAT: center; vertical-align:middle; 
	PADDING-BOTTOM: 0.2em; PADDING-TOP: 0.1em; PADDING-RIGHT: 0.4em; PADDING-LEFT: 0.4em;}
.pagelink A {
	FONT-SIZE: 13px; COLOR: #FFFFFF; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 1px; 
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid;
	BACKGROUND-COLOR: #595656; TEXT-DECORATION: none; FLOAT: center; vertical-align:middle; 
	PADDING-BOTTOM: 0.2em; PADDING-TOP: 0.1em; PADDING-RIGHT: 0.4em; PADDING-LEFT: 0.4em; }
	
.pagelink A:visited {COLOR: #FFFFFF;}
.pagelink A:hover {	COLOR: #FFFFFF;	BACKGROUND-COLOR: #307eb4;}

/*FORMULAIRES*/
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input.input-text {
  border: 1px solid #e6e6e6;
  background: #ffffff;
  padding: 5px;
  min-height:20px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -webkit-boxshadow: none;
  font-family: 'Exo', serif;
  font-size:13px;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input.input-text:focus {
  border-color: #000000;
  outline: 0;
}
textarea.line-disabled,
input[type="text"].line-disabled,
input[type="password"].line-disabled,
input[type="datetime"].line-disabled,
input[type="datetime-local"].line-disabled,
input[type="date"].line-disabled,
input[type="month"].line-disabled,
input[type="time"].line-disabled,
input[type="week"].line-disabled,
input[type="number"].line-disabled,
input[type="email"].line-disabled,
input[type="url"].line-disabled,
input[type="search"].line-disabled,
input[type="tel"].line-disabled,
input[type="color"].line-disabled,
input.input-text.line-disabled,
textarea:disabled,
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="datetime"]:disabled,
input[type="datetime-local"]:disabled,
input[type="date"]:disabled,
input[type="month"]:disabled,
input[type="time"]:disabled,
input[type="week"]:disabled,
input[type="number"]:disabled,
input[type="email"]:disabled,
input[type="url"]:disabled,
input[type="search"]:disabled,
input[type="tel"]:disabled,
input[type="color"]:disabled,
input.input-text:disabled {
  background: #f2f2f2;
  cursor: no-drop;
}

select {
  border: 1px solid #e6e6e6;
  padding: 5px;
  background-color: #ffffff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  background-image: url(assets/img/caret.png);
  background-position: 93% center;
  background-repeat: no-repeat;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  cursor: pointer;
}
select:focus {
  border-color: #000000;
}

form input[type="submit"] {font-size:24px; color:#FFF; background-color:#ac69c5; border-radius:4px; border:1px #e3d8e7 dotted; padding:5px}
form input[type="submit"]:hover {background-color:#FFF; color:#ac69c5; border:1px #999 solid; }




